@model Project_DC.Models.ClientsTooth

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientsTooth</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._Client.FIO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._Tooth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._Tooth.ToothId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._ToothState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._ToothState.ToothStateName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
