@model Project_DC.Models.Tooth

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tooth</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToothId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToothId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model._ToothSector)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model._ToothSector.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model._ToothType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model._ToothType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
