@model IEnumerable<Project_DC.Models.Materials>

@{
    ViewData["Title"] = "Index";
}

<h1>Главная</h1>

<p>
    <a asp-action="Create"> Добавить новый материал</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Наименование
            </th>
            <th>
                количество
            </th>
            <th>
                Цена
            </th>
            <th>
                Сумма
            </th>
            <th>
                Единица измерения
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.summ_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units.UnitsName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaterialId">Редактировать</a> |
               @* <a asp-action="Details" asp-route-id="@item.MaterialId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.MaterialId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
