@model Project_DC.Models.ClientsService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Приём</h4>
<hr />
<div class="row">
    <div class="col col-md-5">

        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PatientsId)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model._Patients.FullName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.StaffsId)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model._Staffs.FullName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ServiceDate)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.ServiceDate)
            </dd>
        </dl>
        <div class="row">
            <div class="col">
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
    </div>
    <div class="col col-md-6">
        <div class="row">
            <div class="col">
                <h5>@Html.DisplayNameFor(model => model.GeneralServices)</h5>
            </div>
            <div class="col col-1">
                <button id="CreateGeneralService" class="details">Create</button>
            </div>
        </div>
        <div class="row">
            @{
                await Html.RenderPartialAsync("~/Views/GeneralService/GeneralServiceList.cshtml", Model.GeneralServices);
            }
        </div>
        <div class="row">
            <div class="col">
                <h5>@Html.DisplayNameFor(model => model.ToothServices)</h5>
            </div>
            <div class="col col-1">
                <button id="CreateToothService" class="details">Create</button>
            </div>
        </div>
        <div class="row">
            @{
                await Html.RenderPartialAsync("~/Views/ToothService/ToothServiceList.cshtml", Model.ToothServices);
            }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">

    function FillObject(url, Obj) {
        if (url == "GeneralService") {
            var id = $('#GeneralService_Id').val();
            Obj.id = id ? parseInt(id) : 0;
            Obj.dentalServiceId = parseInt($('#GeneralService_DentalServiceId').val());
            Obj.comment = $('#GeneralService_Comment').val();
            Obj.price = parseFloat($('#GeneralService_Price').val());
            Obj.clientsServiceId = @Model.Id;
        }

        if (url == "ToothService") {
            var id = $('#ToothService_Id').val();
            Obj.id = id ? parseInt(id) : 0;
            Obj.clientsToothId = parseInt($('#ToothService_ClientsToothId').val());
            Obj.dentalServiceId = parseInt($('#ToothService_DentalServiceId').val());
            Obj.comment = $('#ToothService_Comment').val();
            Obj.price = parseFloat($('#ToothService_Price').val());
            Obj.clientsServiceId = @Model.Id;
            Obj.isToothStateChange = $('#ToothService_IsToothStateChange').val() == "true";
        }
    }

    $("#CreateGeneralService").click(function () {
        SetSize("modal-md");
        SetHeader("Create");
        SetSumitEvent("Add('GeneralService')");
        api_event("GET"
            , '/GeneralService/Create'
            , { "clientsServiceId": @Model.Id}
            , ShowModal
        );
    });

    $(".EditGeneralService").click(function (event) {
        SetSize("modal-md");
        SetHeader("Edit");
        let id = event.currentTarget.value;
        SetSumitEvent("Edit('GeneralService', " + id + ")");
        api_event("GET"
            , "/GeneralService/Edit/" + id
            , { "id": id }
            , ShowModal
        );
    });

    $(".DetailsGeneralService").click(function (event) {
        SetSize("modal-md");
        SetHeader("Details");
        SetVisibleSubmit(false);
        let id = event.currentTarget.value;
        api_event("GET"
            , "/GeneralService/Details/" + id
            , { "id": id }
            , ShowModal
        );
    });

    $(".DeleteGeneralService").click(function (event) {
        console.log("confirm");
        if (confirm('Are sure wants to delete?')){
            console.log(event.currentTarget.value);
            let id = event.currentTarget.value;
            api_event("DELETE"
                , "/api/GeneralService/" + id
                , { "id": id }
                , function (response) {
                    console.log('Success');
                    location.reload();
                    return false;
                }
            )
        }

    });

    $("#CreateToothService").click(function () {
        SetSize("modal-md");
        SetHeader("Create");
        SetSumitEvent("Add('ToothService')");
        api_event("GET"
            , '/ToothService/Create'
            , { "clientsServiceId": @Model.Id}
            , ShowModal
        );
    });

    $(".EditToothService").click(function (event) {
        SetSize("modal-md");
        SetHeader("Edit");
        let id = event.currentTarget.value;
        SetSumitEvent("Edit('ToothService', " + id + ")");
        api_event("GET"
            , "/ToothService/Edit/" + id
            , { "id": id }
            , ShowModal
        );
    });

    $(".DetailsToothService").click(function (event) {
        SetSize("modal-md");
        SetHeader("Details");
        SetVisibleSubmit(false);
        let id = event.currentTarget.value;
        api_event("GET"
            , "/ToothService/Details/" + id
            , { "id": id }
            , ShowModal
        );
    });

    $(".DeleteToothService").click(function (event) {
        console.log("confirm");
        if (confirm('Are sure wants to delete?')) {
            console.log(event.currentTarget.value);
            let id = event.currentTarget.value;
            api_event("DELETE"
                , "/api/ToothService/" + id
                , { "id": id }
                , function (response) {
                    console.log('Success');
                    location.reload();
                    return false;
                }
            )
        }

    });


</script>