@model Project_DC.Models.Patients

@{
    ViewData["Title"] = "Delete";
}



<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Пациент</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Фамилия
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Отчество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            Дата рождения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            Пол
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genders.gender)
        </dd>
        <dt class = "col-sm-2">
           Номер телефона
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            Адрес электронной почты
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.e_mail)
        </dd>
        <dt class = "col-sm-2">
           ИНН
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inn)
        </dd>
    </dl>
    
    <form asp-action="Удалить">
        <input type="hidden" asp-for="PatientId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
