@model Project_DC.Models.Staffs

@{
    ViewData["Title"] = "Удалить";
}

<h1>Delete</h1>

<h3>Вы уверены удалить данные?</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
        Фамилия
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sure_name)
        </dd>
        <dt class = "col-sm-2">
        Имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.first_name)
        </dd>
        <dt class = "col-sm-2">
           Отчество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.middle_name)
        </dd>
        <dt class = "col-sm-2">
           Дата рождения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.birth_date)
        </dd>
        <dt class = "col-sm-2">
          Номер телефона
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mobile_number)
        </dd>
        <dt class = "col-sm-2">
           Адрес электронной почты
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.e_mail)
        </dd>
        <dt class = "col-sm-2">
          Должность
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Positions.position)
        </dd>
        <dt class = "col-sm-2">
            Пол
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genders.gender)
        </dd>
    </dl>
    
    <form asp-action="Удалить">
        <input type="hidden" asp-for="id_staff" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
