@model IEnumerable<Project_DC.Models.Staffs>

@{
    ViewData["Title"] = "Сотрудники";
}

<h1>Сотрудники</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th>
              Дата рождения
            </th>
            <th>
                номер телефона
            </th>
            <th>
               адрес электронной почты
            </th>
            <th>
               должность
            </th>
            <th>
                пол
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sure_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.middle_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birth_date)
            </td>
             
            <td>
                @Html.DisplayFor(modelItem => item.mobile_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.e_mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Positions.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genders.gender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_staff">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.id_staff">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.id_staff">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
